@import url('https://fonts.googleapis.com/css?family=Montserrat');

.title {
    background: #272643;
}

.title h2 {
    color: #FFFFFF;
}
.title h1 {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    letter-spacing: 1px;
    padding: 0; 
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    line-height: .75;
}