@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;900&family=Roboto+Mono:wght@400;700&display=swap');

body {
  background: #BAE8E8;
  font-family: 'Noto Sans JP', sans-serif;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
}
